div {
  display: block;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

h1 {
  color: #013d58;
  font-family: "Staatliches", cursive;
  font-size: 68px;
  transition: all 200ms ease-in-out;
}

h1:hover {
  color: #0081bc;
}
h2 {
  color: #013d58;
  font-family: "Staatliches", cursive;
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
hr {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  color: #cbf1ff;
}

form {
  padding: 6px 0px;
  font-size: 16px;
}

a {
  color: unset;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #013d58;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

form {
  display: inline-block;
  font-family: "Karla" cursive;
  margin-top: 50px;
}

.search-bar {
  width: 500px;
  height: 40px;
  margin: 5px;
  border-color: #93b8db;
  border-style: solid 1px;
  opacity: 0.5;
  background: #f7f9fc;
  transition: all 200ms ease-in-out;
}

.search-bar:hover {
  background: #ffffff;
}

.morning {
  background-image: url(images/morning-background.jpg);
  background-size: cover;
  padding: 40px;
}

.day {
  background-image: url(images/day-background.jpg);
  background-size: cover;
  padding: 40px;
}
.evening {
  background-image: url(images/evening-background.jpg);
  background-size: cover;
  padding: 40px;
}
.night {
  background-image: url(images/night-background.jpg);
  background-size: cover;
  padding: 40px;
}

.container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 900px;
}

.col-4 {
  margin-bottom: 20px;
}
.headings {
  text-align: left;
  padding-top: 20px;
}

.current-details {
  text-align: right;
  padding-top: 50px;
  padding-right: 50px;
}

#current-temp,
#wind-speed,
#humidity {
  font-weight: bold;
}

#current-desc {
  color: #013d58;
  font-family: "Staatliches", cursive;
  font-size: 18px;
}
.forecast-word {
  color: #013d58;
  font-family: "Staatliches", cursive;
  font-size: 18px;
}

.row {
  line-height: 32px;
  margin: 0 auto;
  max-width: 800px;
}

.footer {
  font-family: monospace;
  font-size: 11px;
  padding: 30px 0px 0px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #72b9d5 0%, #285692 74%);
}

.select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.select {
  width: 170px;
  height: 40px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  display: inline-block;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #e7b7ec 0%, #72b9d5 74%);
  background-size: 200% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
  margin: 2px;
  font-weight: 500;
  opacity: 0.8;
}

.select.go {
  width: 40px;
}

.select:before {
  content: "Brighten";
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  transition: 500ms;
}
.select:hover {
  background-position: right;
}

.select:hover:before {
  color: rgba(255, 255, 255, 0.8);
}

.select:focus {
  outline: none;
}

#city-search {
  margin-top: 20px;
}
